<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_field :instructions %>
  </div>

  
  <h3> Ingredients:</h3>
  <div class="field"> 
    <%= form.fields_for :recipe_ingredients do |ri|%>
          
            <%= ri.fields_for :ingredient do |i|%>
            <div class="row">
                <div class="col">
                    <%= i.label :name %>
                    <%= i.text_field :name %>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <%= i.label :quantity %>
                    <%= i.number_field :quantity %>
                </div>
            </div>
            <%end%>   
          
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
